body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-image: url("file:///C:/Users/dfran/OneDrive/Desktop/HTML%20CSS%20Basics/cartoon-hero/img/header-bkgd.jpg");
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Permanent Marker', cursive;
}

/*header styles*/

header h1{
	color: white;
	font-size: 75px;
}

header img{
   	border-radius: 170px;
    width: 300px;
    border: 20px solid #e7e7de;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	padding-bottom: 0;
}

h2{
	font-size: 45px;
	color: #0f3057;
	margin: 40px 0 10px;
}

a{
	color: #0f3057;
}
a:hover{
	background-color: #008891;
	color: white;
}

footer{
	background-color: #0f3057;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}
	
footer a{
	color: white;
}
footer a{
	opacity: .5
	background-color: transparent;
}

p.caption{
	color: #999999; 
	font-style: italic;
	margin-top: 0;
	font-size: 12px;
}